body {
  text-align:justify-center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 230, 230);
  }

  .img-div {  
    margin: 50px auto 50px auto;
  }

.image {
    display: block;
    max-width: 100%;
  }
  
  .description {
    color: rgba(170, 0, 0, 0.728);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
    max-width: 900px;
    margin: 50px auto 50px auto;
  }

  ul {
    max-width: 650px;
    text-align: justify;
    margin: 50px auto 50px auto;
    line-height: 1.4;
  }

  li {
    margin: 16px 0;
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  a {
    text-decoration: none;
    color: #0077b6;
  }
  
  .top {
    text-align: center;
    margin: 50px auto 50px auto;
  }
  
  .background {
    background-color: rgba(255, 255, 255, 0.991);
    padding: 1px 500px 1px 500px;
  }

  .end {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.991);
    padding: 15px 15px; 
  }

  